.nj-picker {
    .nj-ampm-container {
        padding: 0 1em 1em 1em;

        .nj-ampm-wrapper {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 1em;
        }
    }
}