:root {
    // save button 
    --save-button-bg: #008000;
    --save-button-fc: #ffffff;

    // clear button
    --clear-button-bg: #ffa500;
    --clear-button-fc: #ffffff;

    // close button
    --close-button-bg: #ff0000;
    --close-button-fc: #ffffff;

    // header 
    --header-text-color: #ffffff;
    --header-text-align: left;
    --header-bg: #414141;

    // container
    --picker-bg: #fff;
    --picker-selection-bg: #0000ff;
    --picker-selection-fc: #fff;
    --picker-max-width: 400px;
    --picker-min-width: 350px;
}