.nj-picker {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

    .nj-picker-container {
        background: var(--picker-bg);
        max-width: var(--picker-max-width);
        min-width: var(--picker-min-width);
        width: 50%;
        z-index: 10;
        border-radius: 4px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        overflow: hidden;
    }

    .nj-section-header {
        margin-bottom: 4px;
        font-weight: bold;
        text-transform: capitalize;
    }

    .nj-item {
        border: 1px solid #ccc;
        padding: 0.4em;
        text-align: center;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
        }

        &[disabled] {
            opacity: 0.5;
            cursor: not-allowed;
            background: inherit !important;
        }
    }

    .nj-item.selected {
        background: var(--picker-selection-bg);
        color: var(--picker-selection-fc);
        border-color: var(--picker-selection-bg);
    }

    &.nj-picker-show {
        display: flex !important;

        .nj-picker-container {
            animation: zoomin-picker 0.4s;
        }
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(zoomin-picker) {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

