.nj-picker {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

    .nj-picker-container {
        background: #fff;
        max-width: 400px;
        min-width: 350px;
        width: 50%;
        z-index: 10;
        border-radius: 4px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}

.nj-picker-show {
    display: flex !important;
}