.nj-picker {
    .nj-hours-container {
        padding: 0.5em;

        .nj-hours-wrapper {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 0.5em;
        }
    }
}